<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Acerca De Nosotros</ion-title>
  </ion-toolbar>

</ion-header>
    
<ion-content padding>

    <ion-img src="/assets/logo1.jpeg"></ion-img>

    <ion-title>Informacion de la APP</ion-title>
    
    <ion-card-content>
        <p>Farmacias Juigalpinas en una aplicación móvil creada con el objetivo de facilitar al usuario buscar un producto en las farmacias de Juigalpa.</p>
        <p>  la función principal de la aplicación es tan sencilla como ingresar el medicamento o producto en específico que desea en el buscador de la aplicación y automáticamente mostrará los resultados de búsqueda aclarando si el producto está disponible o no. </p>
      </ion-card-content>

</ion-content>
