<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
     <ion-button fill="clear" (click)='Atras()'> <ion-icon name="arrow-round-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Mas Informacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>



    <ion-card-content>

    <ion-card-title size="4"></ion-card-title>

    <p> Es una App capaz de brindar servicios publicitarios para la gestión de los puntos de las distintas farmacias que hay en el municipio de Juigalpa.</p>
    <p> •	Ofrece servicios de búsqueda.</p>
    <p> •	Ahorro de tiempo .</p>
    <p> •	Comodidad de su hogar .</p>
    <p> •	comparación de medicamentos en farmacias locales.</p>
        </ion-card-content>
        


</ion-content>
