<ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
       <ion-button fill="clear" (click)='Atras()'> <ion-icon name="round-back"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>promo</ion-title>
    </ion-toolbar>
  </ion-header>

  </ion-card-content>
</ion-card>

 <ion-card>
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-img src="/assets/farmacia2.jpeg"></ion-img>
  </ion-card-content>

</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-img src="/assets/farmacia3.jpeg"></ion-img>
  </ion-card-content>

</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-img src="/assets/farmacia4.jpeg"></ion-img>
  </ion-card-content>

  </ion-card>


<!-- ion card -->

</ion-content>
