<ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
       <ion-button fill="clear" (click)='Atras()'> <ion-icon name="arrow-round-back"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>Productos</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>

      <ion-card-title>leches para niños</ion-card-title>
      <ion-col size ="5">
          <ion-card class ="welcome-card">
            <ion-img src ="/assets/nan.png"></ion-img>

           
          </ion-card>
      </ion-col>

<ion-col size ="5">
          <ion-card class ="welcome-card">
            <ion-img src ="/assets/enfagro.png"></ion-img>


         
        </ion-card>
    </ion-col>


<ion-col size ="5">
          <ion-card class ="welcome-card">
            <ion-img src ="/assets/nestogeno.png"></ion-img>


         
        </ion-card>
    </ion-col>

    



  
  <ion-button  href ="masproductos" color="black"fill="outline" alt="Enviar">Mas productos</ion-button>
    
  
  </ion-content>
  
