<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--  -->
<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/bannerhome.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Encuentre el medicamento que necesita más fácil y rápido</ion-card-title>
    </ion-card-header>
    <!-- Default Searchbar -->
    <ion-searchbar></ion-searchbar>
  </ion-card>

  <ion-card-subtitle>Promociones</ion-card-subtitle>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Farmacia El Fármaco</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="/assets/banner1.jpg"></ion-img>
    </ion-card-content>
    <ion-button>
      <ion-icon name="send"></ion-icon>
      ingrid
    </ion-button>
    </ion-card>
 <!-- ion card -->
 <ion-card>
  <ion-card-header>
    <ion-card-title>Farmacia Cristal</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-img src="/assets/banner2.jpg"></ion-img>
  </ion-card-content>
  <ion-button>
    <ion-icon name="send"></ion-icon>
    ingrid
  </ion-button>
  </ion-card>
</ion-content>
