<<ion-header>
    <ion-toolbar color="secondary">
    <ion-buttons slot="start">
    <ion-button fill="clear" (click)='Atras()'> <ion-icon name="arrow-round-back"></ion-icon></ion-button>
   
    <ion-title>Medicamentos</ion-title>
       
   
           </ion-buttons>
     </ion-toolbar>
   </ion-header>
  
  <ion-content padding>
      <ion-button expand ="full" color = "primary" (click) = "medicamentos"></ion-button>
          <ion-button (click)="medicamentos"><ion-icon name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
    <ion-button>Más Populares</ion-button>
  
    <ion-list>
        <ion-item>
          <ion-label>Tafil</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Dorival</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Clonazepam</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Paracetamol</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Diclofenaco</ion-label>
        </ion-item>
        <ion-item>
        <ion-label>Metamucil</ion-label>
        </ion-item>
        <ion-item>
        <ion-label>Repaglinida</ion-label>
        </ion-item>
        <ion-item>
        <ion-label>Rifabutina</ion-label>
        </ion-item>
        <ion-item>
        <ion-label>Meridia</ion-label>
        </ion-item>
        <ion-item>
        <ion-label>Ibuprofeno</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Lorazepam</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Rabeprazol</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Anfetamina</ion-label>
           </ion-item>
      </ion-list>
  
</ion-content>
