<<ion-header>
    <ion-toolbar color="secondary">
    <ion-buttons slot="start">
    <ion-button fill="clear" (click)='Atras()'> <ion-icon name="arrow-round-back"></ion-icon></ion-button>
   
    <ion-title>Medicamentos</ion-title>
       
   
           </ion-buttons>
     </ion-toolbar>
   </ion-header>
  
  <ion-content padding>
      <ion-button expand ="full" color = "primary" (click) = "medicamentos"></ion-button>
          <ion-button (click)="medicamentos"><ion-icon name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
    
  
</ion-content>
