<ion-header>
 <ion-toolbar color="secondary">
 <ion-buttons slot="start">
    <ion-button fill="clear" (click)='Atras()'> <ion-icon name="arrow-round-back"></ion-icon></ion-button>
</ion-buttons>
  <ion-title>Medicamentos</ion-title>
 </ion-toolbar>
</ion-header>
    
    <ion-content padding>
    <ion-row>
        <ion-col size ="6">
            <ion-card class ="welcome-card">
              <ion-img src="/assets/farmaco.jpg"></ion-img>
              <ion-card-header>
                <ion-card-title>El Fármaco</ion-card-title>
              </ion-card-header>
              <ion-card-content>